.main{
    min-height: 100%;
    position: sticky;
    bottom: 0;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30vw;

}
.searchbox{
    background-color: white;
    width: 80%;
}
.search{
    border: .5px solid rgb(240, 238, 238);
    padding: .6rem;
    display: flex;
    gap: 1rem;
    margin-top: 2rem ;
    border-radius: 23px;
}
.search:hover{
    border: 1px solid #1D9BF0;
}
.search>input{
    font-size: 1.2rem;
    border: 0;
    outline: none;
}
.search>svg{
    padding: .3rem;
}
/* .search:hover{
    background-color: rgb(227, 223, 218);
} */
.box{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
    width: 80%;
    background-color: rgb(238, 245, 251);
}
.bot_box{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 20px;
    width: 80%;
    background-color: rgb(238, 245, 251);
}


/* //////// Middle Box ////////// */

.mid{
    padding: .25rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .2px solid rgb(210, 207, 207);
}
.show{
    color: #1D9BF0 ;
}

/* ////////Bottom/////// */
.bottom{
    
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.img>img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
.data{
    display: flex;
    gap: 1rem;
}
.btn>button{
    border: 0;
    border-radius: 15px;
    font-size: .6rem;
    font-weight: 650;
    color: white;
    background-color: black;
    padding: .6rem;
}
.terms>p{
    margin-left: 1rem;
    width: 95%;
}