.parent {
  width: 40vw;
  height: 25vw;
  display: flex;
  gap: 1%;
  flex-direction: column;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ================================================ */
.Header {
  height: 17%;
  flex-wrap: wrap;
  display: flex;
  gap: 1%;
}
.Dp {
  width: 11.5%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.NameContainer {
  width: 80%;
  height: 100%;
  flex-direction: column;
}
.name {
  height: 30%;
  display: flex;
  margin-top: auto;
}
.content {
  height: 70%;
}
.DpImg {
  height: 100%;
  width: 100%;
}

/* ================================================ */

.Body {
  height: max-content;
  width: 90%;
  margin: auto;
}
.bodyImage {
  height: 100%;
  width: 100%;
}

/* ================================================= */

.Footer {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
}
